* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
html {
  font-size: 100%;
}
body {
  font-family: Oswald, sans-serif;
}
:root {
  --text-color: #1a1a1a;
  --text-font-size: 1rem;
  --font-family: Oswald, sans-serif;
  --font-weight: bolder;
}
/* here goes bars icon */
#bars {
  display: none;
}
/* here goes navigation */
.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px 24px;
}
.navigation__left,
.navigation__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: var(--text-font-size);
  font-family: var(--font-family);
  background-color: white;
  font-weight: 500;
}
.navigation__right {
  justify-content: flex-end;
}
.navigation__right li {
  margin-left: 50px;
}
.navigation__item a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  transition: all 0.4s;
}
.navigation__item a:hover::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
}
.banner {
  position: relative;
  width: 100%;
}
.banner img {
  width: 100%;
}
.banner__text {
  position: absolute;
  top: 50%;
  color: white;
  width: 100%;
  transform: translateY(-50%);
  margin-left: 4.5rem;
}
.banner__text h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.banner__text h4 {
  font-weight: 400;
  text-transform: none;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Open Sans", sans-serif;
}
/* navigation__image  */
.navigation__image {
  width: 130px;
  height: 48px;
  margin-left: 50px;
}
.navigation__image img {
  width: 100%;
  height: 100%;
}
/* here goes container */
.container {
  max-width: 871px;
  margin: 60px auto;
}
.container__btn__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__btn {
  display: block;
  border-bottom: 1px solid #1a1a1a;
  background: #1a1a1a;
  color: #fff;
  height: 100%;
  padding: 11px 0;
  border: 1px solid var(--text-color);
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}
.container--btn--white {
  background-color: #fff;
  color: var(--text-color);
}
.container__type {
  margin: 24px 0;
  text-align: justify;
}
.seletor {
  display: flex;
  justify-content: space-between;
}
.seletor h4 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  text-transform: none;
  line-height: 1.5;
  color: #1a1a1a;
  display: block;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  text-align: center;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.container__row__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-direction: column;
  grid-column-gap: 20px;
}
.container__card {
  position: relative;
}
.container__item {
  border: 1px solid #1a1a1a;
  padding: 44px 0;
  text-align: center;
}
.container__card .img {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* form...................... */
form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #e8e8e8;
  height: 48px;
  min-height: 48px;
  margin-top: 10px;
}
.container__card button {
  border: none;
  background: transparent;
}
.value__button {
  flex: 1 1 0;
  width: 0;
  font-size: 19px;
  text-align: center;
}
.value__button:hover {
  cursor: pointer;
}

form #decrease {
}

form #increase {
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  border: none;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footer__container {
  display: grid;
  grid-template-rows: 150px 250px 150px;
  background-color: #1a1a1a;
  color: white;
}
.footer__logo img {
  background-color: white;
  border: 4px solid rgb(232, 232, 232);
}
.footer__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/* .social__links::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
  background-color: white;
} */
.payment__method {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment__method ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
@media (max-width: 480px) {
  .container {
    margin: 30px;
  }
  .container__row__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    grid-column-gap: 20px; */
    width: 100%;
  }
  .container__card {
  }
}
