* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: none;
  color: #1a1a1a;
  line-height: 1.6em;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}
:root {
  --text-color: #1a1a1a;
  --text-font-size: 1rem;
  --font-family: Oswald, sans-serif;
  --font-weight: bolder;
}
header {
  position: sticky;
  top: 0px;
  right: 0;
  z-index: 10;
  background-color: white;
}
/* here goes bars icon */
#bars {
  display: none;
}
/* here goes navigation */
.navigation {
  display: grid;
  grid-template-columns: 42% auto 42%;
  padding: 12px 24px;
}
.navigation__left,
.navigation__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: var(--text-font-size);
  font-family: var(--font-family);
  background-color: white;
  font-weight: 500;
}
.navigation__right {
  justify-content: flex-end;
}
.navigation__right li {
  margin-left: 50px;
}
.navigation__item a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  transition: all 0.4s;
}
.navigation__item a img {
  height: 7px;
  background-size: 14px 14px;
  width: 14px;
  transform: rotate(180deg);
}
.navigation__item a:hover::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--text-color);
}
.banner {
  position: relative;
  width: 100%;
}
.banner img {
  width: 100%;
}
.banner__text {
  position: absolute;
  top: 50%;
  color: white;
  width: 100%;
  transform: translateY(-50%);
  margin-left: 4.5rem;
}
.banner__text h1 {
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.4em;
  margin-bottom: 15px;
}
.banner__text h4 {
  font-weight: 400;
  text-transform: none;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 0px;
  font-family: "Open Sans", sans-serif;
}
/* navigation__image  */
.navigation__image {
  width: 130px;
  height: 48px;
  margin-left: 50px;
}
.navigation__image img {
  width: 100%;
  height: 100%;
}
/* here goes container */
.container {
  max-width: 871px;
  margin: 60px auto;
}
.container__btn__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__btn {
  display: block;
  border-bottom: 1px solid #1a1a1a;
  background: #1a1a1a;
  color: #fff;
  height: 100%;
  padding: 11px 0;
  border: 1px solid var(--text-color);
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}
.container--btn--white {
  background-color: #fff;
  color: var(--text-color);
}
.container__type {
  margin: 24px 0;
  text-align: justify;
}
.seletor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle span {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.seletor h4 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  text-transform: none;
  line-height: 1.5;
  color: #1a1a1a;
  display: block;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 24px 0;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  background-color: #e8e8e8;
  border-radius: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  text-align: center;
  left: 0px;
  bottom: 0px;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 3px 3px 10px #cacaca;
}
input:checked + .slider {
  background-color: #151515;
}
input:checked + .slider:before {
  transform: translateX(100%);
  right: 0;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  top: -5px;
}
.container__row__card {
  display: grid;
  grid-template-rows: 2 repeat(2, 1fr);
}
.container__row__card form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #e8e8e8;
  height: 48px;
  min-height: 48px;
  margin-top: 10px;
}
.container__row__card .container__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.container__card {
  position: relative;
}
.container__item {
  border: 1px solid #1a1a1a;
  padding: 44px 0;
  text-align: center;
}
.container__card .img {
  position: absolute;
  right: 16px;
  top: 10px;
  height: 24px;
  width: 24px;
}
/* form...................... */

.container__card button {
  border: none;
  background: transparent;
}
.value__button {
  flex: 1 1 0;
  width: 0;
  font-size: 19px;
  text-align: center;
}
form #input-wrap {
  margin: 0px;
  padding: 0px;
}
input#number {
  border: none;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
footer {
  font-size: 14px;
  padding: 0px 90px;
  border-top: solid 1px #151515;
  background-color: #151515;
  background-position: center center;
  color: #e8e8e8;
  pointer-events: all;
}
.footer__center {
  max-width: 1188px;
  margin: 0 auto;
}
.mobile {
  display: none;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__logo {
  width: 75%;
  max-width: 150px;
  margin-bottom: 10px;
  display: inline-block;
  margin: 34px 0;
}
.footer__logo img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: white;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
}
.footer__newsletter form {
  display: flex;
  margin: 30px 0;
}
.footer__newsletter form input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  background-color: transparent;
  color: #cacaca;
  flex: 3;
  margin-right: 5px;
  border: 1px solid #cacaca;
  height: 48px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10px;
}
.footer__newsletter form input:focus {
  border: 1px solid gray;

  outline: none;
}
.footer__newsletter button {
  width: 100%;
  height: 48px;
  margin-left: 0px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: white;
  border: none;
  flex: 2;
}
.social__links i {
  font-size: 25px;
}
.social__links i:nth-child(2),
.social__links i:nth-child(3) {
  margin-left: 30px;
}
footer h4 {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 1.5;
  color: white;
  display: block;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
  margin: 0 0 0.5em 0;
  padding: 7px 0;
}
footer li {
  margin-bottom: 1em;
  line-height: 1.9;
  list-style: none;
  color: #e8e8e8;
  pointer-events: all;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  font-size: 14px;
}
.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 0;

  border-top: 1px solid #2d2d2d;
}
.payment ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.payment li {
  height: 35px;
  padding: 0 10px;
}
.payment li img {
  width: 100%;
  height: 100%;
}
.btn--margin {
  margin: 30px 0 78px 0;
}
.payment h6 {
  margin-bottom: 1em;
  line-height: 1.1;
  list-style: none;
  color: #e8e8e8;
  pointer-events: all;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-transform: capitalize;
  font-size: 12px;
}
@media (max-width: 480px) {
  .seletor h4 {
    font-size: 24px;
  }
  .container__card .img {
    right: 5px;
    top: 10px;
    height: 17px;
    width: 17px;
  }
  .container__type {
    padding: 0 70px;
  }
  .container__row__card .container__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -2px;
    padding: 0 72px;
  }
  .container__item {
    border: 1px solid #1a1a1a;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  footer {
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
  .footer__logo {
    display: block;
    margin: 30px auto;
  }
  .footer__links {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__newsletter form {
    display: block;
  }
  .footer__newsletter form input {
    flex: 1;
}
  .payment {
    display: block;
  }
  .payment li {
    height: 16px;
  }
  .payment h6 {
    font-size: 9px;
  }
  .footer__contact {
    order: 3;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .mobile {
    display: none;
  }
}
